
<!-- begin footer container -->
 <footer class="usa-footer usa-footer-big" role="contentinfo">

  <div class="usa-grid">

    <ul>
      <li><a href="{{ site.baseurl }}/about/">About</a></li>
      <!-- <li><a href="{{ site.baseurl }}/faq/">FAQ</a></li> -->
      <li><a href="{{ site.baseurl }}/policies/">Policies</a></li>
      <li><a href="{{ site.baseurl }}/contact-us/">Contact Us</a></li>
      <!-- <li><a href="https://usa.gov">usa.gov</a></li> -->
    </ul>

  </div>

  </footer>
<!-- end footer container -->
