<footer id="footer">
  <div class="usa-grid">
    <div class="usa-width-full">
      <h3 class="logo">
        Feedback Analytics
      </h3>
      <p class="font-sans-md margin-top-1">
        Get the feedback you need to improve public service delivery.
      </p>
      <p class="font-sans-2xs">
        <img class="width-2 top-2px position-relative margin-right-05" style="width: 16px" src="{{ site.baseurl }}/assets/img/gsa-logo-white-lg.png" alt="GSA"> General Services Administration — This is an official site of the U.S. Government.
      </p>
    </div>
  </div>
</footer>
