<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav usa-width-two-thirds">
        <ul class="usa-unstyled-list">
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Features</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Case studies</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Support</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Sign in</a>
          </li>
        </ul>
      </nav>
      <address>
        <div class="usa-width-one-third">
          <div class="usa-footer-primary-content usa-footer-contact_info">
            <p>
              <a href="tel:1-800-555-5555">(800) CALL-GOV</a>
            </p>
          </div>
          <div class="usa-footer-primary-content usa-footer-contact_info">
            <p><a href="mailto:info@feedback.usa.gov">info@feedback.usa.gov</a></p>
          </div>
        </div>
      </address>
    </div>
  </div>

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-two-thirds">
        <div class="usa-footer-logo">
          <img class="usa-footer-slim-logo-img" src="/assets/img/logo-img.png" alt="">
          <h3 class="usa-footer-slim-logo-heading">GSA Office of Products and Programs</h3>
        </div>
      </div>
      <div class="usa-width-one-third">
        <div class="usa-footer-return-to-top">
          <a href="#top" style="float: right;">Return to top</a>
        </div>
      </div>
    </div>
  </div>
</footer>
