<section style="background-color: #f9dede;">
  <br>
  <br>
  <br>
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2 style="font-weight: normal;">
        Begin with feedback and move toward responsiveness
      </h2>
    </div>
  </div>
  <br>
  <div class="usa-grid">
    <div class="usa-width-three-fourths">
      <p>
        Let's discuss how Feedback Analytics can help your agency
        accomplish its mission.
      </p>
    </div>
    <div class="usa-width-one-fourth">
      <a href="mailto:{{site.team_email}}" class="usa-button">
        Get in touch
      </a>
    </div>
  </div>
  <br>
  <br>
  <br>
</section>
