<section style="background-color: #f9dede;">
  <br>
  <br>
  <br>
  <div class="usa-grid">
    <div class="usa-width-three-fourths">
      <p>
        Need more details about Feedback?
        Need help convincing your executive team?
        The Feedback Analytics team has developed resources to help.
      </p>
      <p>
        Want to talk about how Feedback Analytics can help your agency?
      </p>
      <p>
        Feedback Analytics is a product and service of the
        <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services">
          General Services Administration</a>.
      </p>
    </div>
    <div class="usa-width-one-fourth">
      <div>
        <a href="mailto:{{site.team_email}}" class="usa-button">
          Get in touch
        </a>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
</section>
