---
layout: base
---

<div class="usa-grid">
  <br>
  <br>
  <br>
  <br>
  <div class="usa-width-two-thirds">
    <p class="usa-font-lead" style="font-size: 1.5em;">
      The Feedback Analytics Program helps federal agencies and offices solicit and synthesize
      multi-modal feedback in a compliant, citizen-centric way.
    </p>
  </div>
  <div class="usa-width-one-third">
  </div>
</div>
<br>
<br>
<br>
<br>
<div style="background-color: #e1f3f8;">
  <div class="usa-grid">
    <br>
    <h2 style="font-weight: normal;">
      Gather qualitative feedback to
      <span style="color: #e31c3d;">
        continously
      </span>
      improve services
    </h2>
    <br>
    <br>
    <div class="usa-width-one-third">
      <h3>Easy, powerful, opinionated</h3>
      <p>
        You don't have to be an analytics expert or spend months working on compliance to get started.
        We’ve taken care of it using popular and easy-to-use tools so you can focus on what to do with feedback gathered.
      </p>
    </div>
    <div class="usa-width-one-third">
      <h3>Highly customizable</h3>
      <p>
        Have a design team?
        They can deploy custom sites that use Feedback's flexible toolset.
      </p>
    </div>
    <div class="usa-width-one-third">
      <h3>Secure, compliant, scalable</h3>
      <p>Built on an approved and certified infrastructure with services from <a href="https://cloud.gov/">cloud.gov</a>, your website will have the highest level of compliance, security, and scalability.</p>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<div class="usa-grid">
  <br>
  <br>
  <h2 style="font-weight: normal;">
    Agencies gathering feedback
  </h2>
  <br>
  <br>
  <div class="usa-width-one-fourth">
    <p>
      Here are a few websites already incorporating Feedback.
    </p>
  </div>
  <div class="usa-width-one-fourth">
    <img src="https://federalist.18f.gov/images/home-page/Federalist-Proposal-Thumbnail.jpg">
    <h5>
      Farmers.gov
    </h5>
    <p>
      Listens to the concerns of US Farmers regarding specific topics.
    </p>
  </div>
  <div class="usa-width-one-fourth">
    <img src="https://federalist.18f.gov/images/home-page/Federalist-Proposal-Thumbnail.jpg">
    <h5>
      National Science Foundation
    </h5>
    <p>
      Crowd-sources ideas from aspiring scientists.
    </p>
  </div>
  <div class="usa-width-one-fourth">
    <img src="https://federalist.18f.gov/images/home-page/Federalist-Proposal-Thumbnail.jpg">
    <h5>
      Login.gov
    </h5>
    <p>
      Seeks feedback about product implementation and development.
    </p>
  </div>
</div>
<br>
<br>
<br>
<section style="background-color: #f9dede;">
  <br>
  <br>
  <br>
  <div class="usa-grid">
    <div class="usa-width-one-fourth">
      <div style="text-align: center;">
        <img src="https://federalist.18f.gov/images/graphic-speech-bubbles.svg" alt="">
      </div>
    </div>
    <div class="usa-width-three-fourths">
      <p>
        Want to talk about how Feedback can help your agency?
        Questions about compliance? Want to try it out for yourself?
      </p>
      <a href="/contact" class="usa-button">
        Get in touch
      </a>
      <p>
        Feedback is a product and service of the
        <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services">
          General Services Administration</a>.
      </p>
    </div>
  </div>
  <br>
  <br>
  <br>
</section>
<div class="usa-grid">
  <br>
  <br>
  <h2 style="font-weight: normal;">
    Feedback fact sheets
  </h2>
  <br>
  <br>
  <div class="usa-width-one-fourth">
    <p>
      Need more details about Feedback?
      Need help convincing your executive team?
      The Feedback Analytics team has developed these resources to help.
      See more at
      <a href="/support">Feedback support</a>.
    </p>
  </div>
  <div class="usa-width-one-fourth">
    <img src="https://federalist.18f.gov/images/home-page/Federalist-Proposal-Thumbnail.jpg">
    <h5>
      Feedback proposal
    </h5>
    <p>
      A
      <a href="#">
        two page overview
      </a>
       about Feedback for stakeholder briefings.
    </p>
  </div>
  <div class="usa-width-one-fourth">
    <img src="https://federalist.18f.gov/images/home-page/Federalist-Proposal-Thumbnail.jpg">
    <h5>
      Feedback basic diagram
    </h5>
    <p>
      An
      <a href="#">
        outline
      </a>
      of how all of Feedback’s parts work together.
    </p>
  </div>
  <div class="usa-width-one-fourth">
    <img src="https://federalist.18f.gov/images/home-page/Federalist-Proposal-Thumbnail.jpg">
    <h5>
      Compliance memo
    </h5>
    <p>
      <a href="#">
        Details
      </a>
       about Feedback's compliance and Authority to Operate.      
    </p>
  </div>
</div>
<br>
<br>
<br>
{{ content }}
